absl-py
astor
audioread
bokeh
certifi
cffi
chardet
cycler
decorator
gast
google-pasta
grpcio
h5py
holoviews
idna
imageio
imagen
Jinja2
joblib
Keras-Applications
Keras-Preprocessing
kiwisolver
librosa
llvmlite
lmdb
Markdown
MarkupSafe
matplotlib
networkx
numba
numpy
opencv-python
opt-einsum
packaging
pandas
panel
param
Pillow
protobuf
pyarrow
pycparser
pyct
pyparsing
python-dateutil
pytz
pyviz-comms
PyWavelets
PyYAML
requests
resampy
scikit-image
scikit-learn
scipy
six
SoundFile
tensorboard
termcolor
torch
torchvision
torchtoolbox
tornado
tqdm
typing-extensions
urllib3
wandb
Werkzeug
wrapt

pytorch-lightning
torchmetrics
transformers
torchtext
pytorch-nlp

superpathlib @ git+https://github.com/quintenroets/superpathlib
cacher @ git+https://github.com/quintenroets/cacher
cli @ git+https://github.com/quintenroets/cli
